In [38]:
import pandas as pd

Import all the files

In [39]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [40]:
display(visits.head(5))
display(cart.head(5))
display(checkout.head(5))
display(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00

                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00

                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00

                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [41]:
visits_cart = pd.merge(visits, cart, how="left")
display(visits_cart)

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT
...,...,...,...
1995,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaT
1996,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaT
1997,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaT
1998,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaT
1999,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaT

Step 3: How long is `visits_cart`?

In [42]:
print(len(visits_cart))

2000

Step 4: How many timestamps are null for `cart_time`?

In [43]:
t_null_data = visits_cart.cart_time.isnull().reset_index()
display(t_null_data)
t_null = t_null_data[t_null_data['cart_time'] == True].count()
print(t_null)

      index  cart_time
0         0       True
1         1      False
2         2      False
3         3       True
4         4       True
...     ...        ...
1995   1995       True
1996   1996       True
1997   1997       True
1998   1998       True
1999   1999       True

[2000 rows x 2 columns]

index        1652
cart_time    1652
dtype: int64

Step 5: What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?

In [68]:
percentage_not_cart = (t_null_data[t_null_data['cart_time'] == True].count()) / (visits_cart['user_id'].count())
percentage_not_cart = percentage_not_cart[0]
percent_in_cart = 1 - percentage_not_cart
print("{:.2f}% das pessoas apenas visitaram o site.".format(percentage_not_cart * 100))
print("{:.2f}% das pessoas prosseguiram com algum item para o carrinho.".format(percent_in_cart * 100))

82.60% das pessoas apenas visitaram o site.
17.40% das pessoas prosseguiram com algum item para o carrinho.

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [71]:
cart_checkouts = pd.merge(cart, checkout, how='left')
display(cart_checkouts)
t_null_checkouts = cart_checkouts.checkout_time.isnull().reset_index()
# display(t_null_checkouts)
checkout_null_count = t_null_checkouts[t_null_checkouts['checkout_time'] == True].count()
# print(checkout_null_count)

percentage_not_checkout = (t_null_checkouts[t_null_checkouts['checkout_time'] == True].count()) / (t_null_checkouts['checkout_time'].count())
percentage_not_checkout = percentage_not_checkout[0]
percent_in_checkout = 1 - percentage_not_checkout
print("{:.2f}% das pessoas colocaram o item no carrinho mas não fizeram checkout do item.".format(percentage_not_checkout * 100))
print("{:.2f}% das pessoas que colocaram o item no carrinho prosseguiram para o checkout.".format(percent_in_checkout * 100))

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT
2,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
3,b594862a-36c5-47d5-b818-6e9512b939b3,2017-09-27 08:22:00,2017-09-27 08:26:00
4,a68a16e2-94f0-4ce8-8ce3-784af0bbb974,2017-07-26 15:48:00,NaT
...,...,...,...
343,952be3a5-9240-484f-845c-a6b2cbed72ee,2017-05-02 05:40:00,2017-05-02 05:50:00
344,59d2b685-383a-4fce-a325-35d985713a8b,2017-01-20 03:58:00,NaT
345,a1203970-92ae-4fc7-843e-e1740c1be9d5,2017-11-12 23:07:00,NaT
346,55de53ae-89f6-43ff-a26d-df284678aca1,2017-03-17 19:56:00,2017-03-17 20:04:00
347,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 08:57:00

35.06% das pessoas colocaram o item no carrinho mas não fizeram checkout do item.
64.94% das pessoas prosseguiram com algum item para o checkout.

Step 7: Merge all four steps of the funnel, in order, using a series of left merges. Save the results to the variable all_data

In [51]:
all_data = visits.merge(cart, how='left').merge(checkout, how='left').merge(purchase, how='left')
display(all_data)

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT
...,...,...,...,...,...
2103,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaT,NaT,NaT
2104,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaT,NaT,NaT
2105,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaT,NaT,NaT
2106,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaT,NaT,NaT
2107,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaT,NaT,NaT

Step 8: % of users who got to checkout but did not purchase

In [77]:
# print(all_data['checkout_time'].info())
user_checkout_not_purchase = all_data[(all_data['checkout_time'].notnull()) & (all_data['purchase_time'].isnull())]
display(user_checkout_not_purchase)
percentage_not_purchase = (user_checkout_not_purchase['checkout_time'].count()) / (all_data['checkout_time'].count())
print("{:.2f}% das pessoas fizeram o checkout do item, porém não compraram.".format(percentage_not_purchase * 100))
print("{:.2f}% das pessoas fizeram o checkout do item e compraram.".format((1 - percentage_not_purchase) * 100))

,user_id,visit_time,cart_time,checkout_time,purchase_time
31,1868e912-b38c-4ef0-8824-5665c42288e5,2017-03-17 11:48:00,2017-03-17 11:56:00,2017-03-17 11:58:00,NaT
54,dc5d8fe9-3321-4c86-b66d-7c343decdc4a,2017-09-13 13:06:00,2017-09-13 13:30:00,2017-09-13 13:26:00,NaT
146,fffc2dfc-fdc1-407a-9c6d-e6507157d1a6,2017-07-03 19:20:00,2017-07-03 19:40:00,2017-07-03 19:51:00,NaT
151,0182a7b9-2099-4476-8f7d-51f2c2f71dff,2017-09-08 16:26:00,2017-09-08 16:34:00,2017-09-08 16:59:00,NaT
161,2faac6a9-974c-49fb-b815-44f3a5fc06e1,2017-03-27 21:51:00,2017-03-27 21:54:00,2017-03-27 22:19:00,NaT
...,...,...,...,...,...
2024,61916219-9600-4c72-93fc-666dd9285fb9,2017-01-04 05:20:00,2017-01-04 05:23:00,2017-01-04 05:32:00,NaT
2037,699acf1d-b5e0-4573-a54b-97ecd4c93572,2017-08-19 08:09:00,2017-08-19 08:32:00,2017-08-19 08:56:00,NaT
2056,4686af83-e275-49f7-a82b-c32f3521372a,2017-09-23 16:46:00,2017-09-23 16:55:00,2017-09-23 17:16:00,NaT
2070,3a6487df-d934-4d28-b531-1166621eb7db,2017-08-12 17:59:00,2017-08-12 18:10:00,2017-08-12 18:17:00,NaT
2078,5cda3654-faab-4432-ae28-0edca81de2f5,2017-08-23 08:29:00,2017-08-23 08:55:00,2017-08-23 09:05:00,NaT

24.55% das pessoas fizeram o checkout do item, porém não compraram.
75.45% das pessoas fizeram o checkout do item e compraram.

Step 9: check each part of the funnel, let's print all 3 of them again

In [78]:
print("{:.2f}% das pessoas apenas visitaram o site.".format(percentage_not_cart * 100))
print("{:.2f}% das pessoas colocaram o item no carrinho mas não fizeram checkout do item.".format(percentage_not_checkout * 100))
print("{:.2f}% das pessoas fizeram o checkout do item, porém não compraram.".format(percentage_not_purchase * 100))

82.60% das pessoas apenas visitaram o site.
35.06% das pessoas colocaram o item no carrinho mas não fizeram checkout do item.
24.55% das pessoas fizeram o checkout do item, porém não compraram.

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: Using the giant merged DataFrame all_data that you created, let’s calculate the average time from initial visit to final purchase. Add a column that is the difference between purchase_time and visit_time.

In [79]:
all_data["average_time_to_purchase"] = (all_data['purchase_time'] - all_data['visit_time'])

Step 11: Examine the results by printing the new column to the screen.

In [80]:
display(all_data)

,user_id,visit_time,cart_time,checkout_time,purchase_time,average_time_to_purchase
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00,0 days 00:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...
2103,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaT,NaT,NaT,NaT
2104,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaT,NaT,NaT,NaT
2105,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaT,NaT,NaT,NaT
2106,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaT,NaT,NaT,NaT
2107,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaT,NaT,NaT,NaT

Step 12: Calculate the average time to purchase by applying the .mean() function to your new column.

In [81]:
average_time_buy = all_data["average_time_to_purchase"].mean()
print(average_time_buy)

0 days 00:43:12.380952380